{% extends 'frontend.html.twig' %}

{% block title  'Error 404' %}

{% block sub_header %}
    <!-- pagetitle start here -->
    <section id="pagetitle-container">
        <div class="row">
            <div class="five column breadcrumb">
                <ul>
                    <li><a href="{{ path('index') }}"><i class="icon-home"></i></a></li>
                    <li class="current-page"><a>404</a></li>
                </ul>
            </div>
            <div class="seven column pagetitle">
                <h1>Error 404</h1>
            </div>
        </div>
    </section>
    <!-- pagetitle end here -->
{% endblock %}

{% block content %}
     <div class="row">
        <div class="twelve column text-center">
            
            <div id="error404">
                <div class="note-folded red">
                    <h1><i class="icon-danger"></i> Error 404</h1>

                    <h5 class="smallmargin-bottom">404 no cruzar la linea &nbsp;&nbsp;&nbsp;&nbsp; 404 no cruzar la linea</h5>
                    <p class="lead">La página que estás buscando no se encuentra disponible, puede que haya sido eliminada, haya cambiado de nombre o está temporalmente deshabilita.</p>
                    <p class="lead">Por favor tenga paciencia, y si el problema persiste póngase en contacto con nosotros a través de nuestro formulario de <a class="colorYellow" href="{{ path('contact') }}">contacto</a>.</p>

                    <a href="{{ path('index') }}" class="button medium white margin-top">Regresar a inicio</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}