{% extends 'frontend.html.twig' %}

{% block title  'Aviso legal' %}

{% block sub_header %}
    <!-- pagetitle start here -->
    <section id="pagetitle-container">
        <div class="row">
            <div class="five column breadcrumb">
                <ul>
                    <li><a href="{{ path('index') }}"><i class="icon-home"></i></a></li>
                    <li class="current-page"><a href="{{ path('contact') }}">Aviso legal</a></li>
                </ul>
            </div>
            <div class="seven column pagetitle">
                <h1>Aviso legal</h1>
            </div>
        </div>
    </section>
    <!-- pagetitle end here -->
{% endblock %}

{% block content %}
    <div class="row">
        <div class="twelve column">
            
        </div>
    </div>
{% endblock %}