{% extends 'frontend.html.twig' %}

{% block title  'Políticas de privacidad' %}

{% block sub_header %}
    <!-- pagetitle start here -->
    <section id="pagetitle-container">
        <div class="row">
            <div class="four column breadcrumb">
                <ul>
                    <li><a href="{{ path('index') }}"><i class="icon-home"></i></a></li>
                    <li class="current-page"><a href="{{ path('contact') }}">Políticas de privacidad</a></li>
                </ul>
            </div>
            <div class="eight column pagetitle">
                <h1 class="small">Políticas de privacidad</h1>
            </div>
        </div>
    </section>
    <!-- pagetitle end here -->
{% endblock %}

{% block content %}
    <div class="row">
        <div class="twelve column">
            <!-- begin of warning 1 -->
            <div class="accordion-title">1. POLÍTICAS DE PRIVACIDAD</div>
            <div class="accordion-content">
                <p>Expertosit informa a los usuarios del sitio web sobre su política respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios a través de su sitio web.</p>
                <p> este sentido, Expertosit garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 15/1999 de 13 de diciembre, de Protección de Datos de Carácter Personal y en el Real Decreto 1720/2007, de 21 diciembre, por el que se aprueba el Reglamento de Desarrollo de la LOPD.</p>
                <p>El uso de esta web implica la aceptación de esta política de privacidad.</p>
            </div>

            <!-- begin of warning 2 -->
            <div class="accordion-title">2. RECOGIDA, FINALIDAD Y TRATAMIENTO DE DATOS</div>
            <div class="accordion-content">
                <p>Expertosit tiene el deber de informar a los usuarios de su sitio web acerca de la recogida de datos de carácter personal que pueden llevarse a cabo, bien sea mediante el envío de correo electrónico o al cumplimentar los formularios incluidos en el sitio web. En este sentido, Expertosit será considerada como responsable de los datos recabados mediante los medios anteriormente descritos.</p>
                <p>A su vez Expertosit informa a los usuarios de que la finalidad del tratamiento de los datos recabados contempla: La atención de solicitudes realizadas por los usuarios, la inclusión en la agenda de contactos, la prestación de servicios, la gestión de la relación comercial.</p>
                <p>Las operaciones, gestiones y procedimientos técnicos que se realicen de forma automatizada o no automatizada y que posibiliten la recogida, el almacenamiento, la modificación, la transferencia y otras acciones sobre datos de carácter personal, tienen la consideración de tratamiento de datos personales.</p>
                <p>Todos los datos personales, que sean recogidos a través del sitio web de Expertosit, y por tanto tenga la consideración de tratamiento de datos de carácter personal, serán incorporados en los ficheros declarados ante la Agencia Española de Protección de Datos por Expertosit.</p>
            </div>

            <!-- begin of warning 3 -->
            <div class="accordion-title">3. COMUNICACIÓN DE INFORMACIÓN A TERCEROS</div>
            <div class="accordion-content">
                <p>Expertosit informa a los usuarios de que sus datos personales no serán cedidos a terceras organizaciones, con la salvedad de que dicha cesión de datos este amparada en una obligación legal o cuando la prestación de un servicio implique la necesidad de una relación contractual con un encargado de tratamiento. En este último caso, solo se llevará a cabo la cesión de datos al tercero cuando Expertosit disponga del consentimiento expreso del usuario.</p>
            </div>

            <!-- begin of warning 4 -->
            <div class="accordion-title">4. DERECHOS DE LOS USUARIOS</div>
            <div class="accordion-content">
                <p>La Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal concede a los interesados la posibilidad de ejercer una serie de derechos relacionados con el tratamiento de sus datos personales.</p>
                <p>En tanto en cuanto los datos del usuario son objeto de tratamiento por parte de Expertosit. Los usuarios podrán ejercer los derechos de acceso, rectificación, cancelación y oposición de acuerdo con lo previsto en la normativa legal vigente en materia de protección de datos personales.</p>
                <p>Para hacer uso del ejercicio de estos derechos, el usuario deberá dirigirse mediante comunicación escrita, aportando documentación que acredite su identidad (DNI o pasaporte), a la siguiente dirección: Expertosit, calle Consenso nº 30, Código postal: 28041, Ciudad: Madrid, Provincia: Comunidad de Madrid o la dirección que sea sustituida en el Registro General de Protección de Datos. Dicha comunicación deberá reflejar la siguiente información: Nombre y apellidos del usuario, la petición de solicitud, el domicilio y los datos acreditativos.</p>
                <p>El ejercicio de derechos deberá ser realizado por el propio usuario. No obstante, podrán ser ejecutados por una persona autorizada como representante legal del autorizado. En tal caso, se deberá aportar la documentación que acredite esta representación del interesado.</p>
            </div>
        </div>
    </div>
{% endblock %}